### Comprehension List

In [2]:
data=[i for i in 'human']
data

['h', 'u', 'm', 'a', 'n']

In [4]:
s=[]
for i in range(1,101):
    s.append(i**2)
s

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [5]:
s=[i**2 for i in range(1,101)]
s

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [59]:
movies=['Gun Man','Survivor','The Last Man',"Gone with the wind",'Gattaca','To Kill a mockin bird','Toy Story']
g_movie=[title for title in movies if title.startswith('G')]
g_movie

['Gun Man', 'Gone with the wind', 'Gattaca']

In [66]:
movies=[('Citizen Kane',1941),('Sprited Away',2001),('It was wonderful life',1998)
        ,('Gattaca',1997),('No Country for old man',2007)]
[title for (title,year) in  movies if year < 2000]

['Citizen Kane', 'It was wonderful life', 'Gattaca']

#### Vector Multiplication

In [67]:
v=[2,-3,1]
[4*x for x in v]

[8, -12, 4]

### Cartesian Product

In [74]:
a=[1,3,5,7]
b=[2,4,6,8]
cartesian_product=[(A,B) for A in a for B in b]
cartesian_product

[(1, 2),
 (1, 4),
 (1, 6),
 (1, 8),
 (3, 2),
 (3, 4),
 (3, 6),
 (3, 8),
 (5, 2),
 (5, 4),
 (5, 6),
 (5, 8),
 (7, 2),
 (7, 4),
 (7, 6),
 (7, 8)]

### Tuples

#### # Creating non-empty tuples

In [25]:
tup = 'Anil','Rahul'
print(tup)

('Anil', 'Rahul')

In [26]:
tup=('Anil','Rahul')
tup

('Anil', 'Rahul')

#### Concatenation of Tuples

In [27]:
tup1=1,2,3,4
tup2='Anil','Rahul'
tup1+tup2

(1, 2, 3, 4, 'Anil', 'Rahul')

#### Nesting of Tuples

In [29]:
tup1=1,2,3,4,5
tup2='Ram','Rahul'
tup3=tup1,tup2
tup3

((1, 2, 3, 4, 5), ('Ram', 'Rahul'))

#### Mathematical relation with tuple

In [32]:
tup1='anil', '*'
tup1*5

('anil', '*', 'anil', '*', 'anil', '*', 'anil', '*', 'anil', '*')

### Immutable Tuples

In [36]:
tup1=1,2,3,4,5,6
tup1[3]

4

You cannot alter the value inside the tuple once created

In [37]:
tup1[3]=5
tup1

TypeError: 'tuple' object does not support item assignment

### Slicing the tuple

In [42]:
tuple1 = (0 ,1, 2, 3) 
print(tuple1[1:]) 
print(tuple1[::-1]) 
print(tuple1[-1]) 
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
3
(2, 3)

### Deleting a tuple

In [43]:
tup1=1,2,3
tup1

(1, 2, 3)

In [44]:
del tup1
tup1

NameError: name 'tup1' is not defined

### Finding Length of a Tuple

In [47]:
tup1 = ('python', 'geek') 
print(len(tup1))

2

### Converting list to tuple

In [49]:
list1=[0,1,2]
tuple(list1)

(0, 1, 2)

### tuples in a loop

In [58]:
tup1='Anil'
for i in range(5):
    print(tup1)

('Anil',)
('Anil',)
('Anil',)
('Anil',)
('Anil',)