In [ ]:
#### KNN Regression

In [97]:
import pandas as pd
import numpy as np

In [98]:

columns1=['x'+str(i) for i in range(1,21)] ## List Comprehension
columns1[19]='y'

In [99]:
columns1

['x1',
 'x2',
 'x3',
 'x4',
 'x5',
 'x6',
 'x7',
 'x8',
 'x9',
 'x10',
 'x11',
 'x12',
 'x13',
 'x14',
 'x15',
 'x16',
 'x17',
 'x18',
 'x19',
 'y']

In [100]:
df=pd.DataFrame(np.random.randint(0,1000,(100,20)),columns=columns1)

In [121]:
df.shape

(100, 20)

In [101]:
y=df['y']
x=df.drop('y',axis=1)

In [122]:
x

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19
0,556,788,204,636,846,683,613,267,44,797,847,566,89,855,847,105,961,903,194
1,953,268,871,488,808,568,758,443,312,663,546,226,649,29,717,162,828,112,925
2,786,168,605,233,736,928,807,76,292,530,314,213,595,137,572,419,402,679,76
3,133,570,800,202,330,71,992,160,859,429,502,884,519,719,543,146,904,654,763
4,404,134,44,821,952,593,550,226,572,472,636,463,802,890,530,713,238,342,860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,319,765,665,394,744,126,713,558,545,895,656,741,42,852,247,979,762,552,375
96,679,985,741,705,717,289,367,97,173,796,695,955,550,959,666,244,463,374,980
97,95,130,340,966,469,801,906,830,339,620,549,553,749,731,943,281,390,232,617
98,727,466,299,417,685,945,402,294,262,598,963,849,49,906,732,129,908,8,924
99,126,785,295,267,448,81,378,144,278,593,805,308,611,802,304,975,252,363,48

In [102]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [103]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(80, 19) (20, 19) (80,) (20,)

In [126]:
distances = []
for i in x_test.values:
    for j in x_train.values:
        distances.append(np.sqrt(((i-j)*(i-j)).sum()))

In [127]:
len(distances)

1600

In [129]:
distances = np.array(distances)
distance_matrix = distances.reshape(80,20).T
distance_matrix.argmin(axis=1)

array([44, 29,  2, 59, 40, 22,  6, 78, 45,  8, 50, 37, 77, 53, 67, 20, 44,
       31, 11, 47], dtype=int64)

In [133]:
predicted_values = []
for i in distance_matrix.argmin(axis=1):
    print(y[i])

458
54
493
64
191
26
390
557
529
440
292
950
659
985
128
835
458
347
601
448

In [134]:
import seaborn as sns
df= sns.load_dataset('titanic')

df=df[df.describe().columns]
df.fillna(20,inplace=True)


df.shape

df.head()

y=df['fare']
x=df.drop('fare',axis=1)

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)
print()

(712, 5) (179, 5) (712,) (179,)

In [136]:
from sklearn.neighbors import KNeighborsRegressor
kn=KNeighborsRegressor(n_neighbors=1)
kn.fit(x_train,y_train)
predicted_values=kn.predict(x_test)

In [144]:
predicted_values[0:10],y_test[0:10]

(array([15.7417,  7.75  ,  7.8292, 12.475 , 30.0708, 30.5   ,  7.225 ,
        20.25  ,  8.05  , 55.    ]),
 709    15.2458
 439    10.5000
 840     7.9250
 720    33.0000
 39     11.2417
 290    78.8500
 300     7.7500
 333    18.0000
 208     7.7500
 136    26.2833
 Name: fare, dtype: float64)

In [138]:
MAE=(abs(y_test-predicted_values).sum())/y_test.shape[0]

In [139]:
MAE

19.686963128491623

In [ ]:
#### Confusion Matrix

In [88]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [89]:
from sklearn.metrics import confusion_matrix